{
  "destinations": [
    {
      "name": "Beam Down",
      "planetName": "current orbited world",
      "warpAction": "OrbitedWorld",
      "icon": "beamdown",
      "onShip": true
    },
    {
      "name": "Deploy Mech",
      "planetName": "current orbited world",
      "warpAction": "OrbitedWorld",
      "icon": "deploy",
      "deploy": true,
      "onShip": true
    },
    {
      "name": "Beam to Ship",
      "planetName": "",
      "warpAction": "ownShip",
      "icon": "beamup",
      "onShip": false
    },
    {
      "name": "Return",
      "planetName": "previous location",
      "warpAction": "Return",
      "icon": "return"
    }
  ]
}