{
	"icons" : [
		{
			"match" : ["outpost", "museum"],
			"icon" : "outpost"
		},
		{
			"find" : ["mission"],
			"match" : ["lunarbase"],
			"icon" : "teleporter"
		},
		{
			"match" : ["monolith"],
			"icon" : "ark"
		},
		{
			"find" : ["ancient", "challengerooms"],
			"icon" : "ancientgateway"
		},
		{
			"find" : ["spacestation_peacekeeper", "bounty"],
			"icon" : "pat_peacekeeper"
		},
		{
			"find" : ["ship"],
			"icon" : "ship"
		},
		{
			"find" : ["station"],
			"icon" : "spacestation"
		},
		{
			"find" : ["techchallenge"],
			"icon" : "pat_techchallenge"
		},
		{
			"find" : ["mechtest"],
			"icon" : "deploy"
		}
	]
}