{
  "icons": [
    {
      "names": [ "outpost" ],
      "icon": "outpost"
    },
    {
      "names": [ "monolith" ],
      "icon": "ark"
    },
    {
      "names": [ "lunarbase" ],
      "patterns": [ "mission" ],
      "icon": "teleporter"
    },
    {
      "names": [ "challengerooms" ],
      "patterns": [ "ancientvault" ],
      "icon": "ancientgateway"
    },
    {
      "names": [ "cyberspace" ],
      "patterns": [ "spacestation_peacekeeper", "bounty" ],
      "icon": "pat_iw/peacekeeper"
    },
    {
      "patterns": [ "ship$" ],
      "icon": "ship"
    },
    {
      "names": [ "spaceencounter" ],
      "icon": "asteroids"
    },
    {
      "names": [ "playerstation" ],
      "patterns": [ "^spacestation_" ],
      "icon": "spacestation",
      "priority": -1
    },
    {
      "patterns": [ "^arena." ],
      "icon": "pat_iw/nuru"
    },
    {
      "names": [ "museum" ],
      "icon": "pat_iw/koichi"
    },
    {
      "patterns": [ "mechtest" ],
      "icon": "deploy"
    },
    {
      "patterns": [ "techchallenge" ],
      "icon": "pat_iw/techchallenge"
    },
    {
      "names": [ "protectorate" ],
      "icon": "pat_iw/protectorate"
    },
    {
      "names": [ "zcrab_mcdonalds" ],
      "icon": "zcrab_mcdonalds"
    },
    {
      "names": [ "thalassooutpost" ],
      "icon": "thalassooutpost"
    },
    {
      "names": [ "cacochiuslab", "florantnest" ],
      "patterns": [ "^starforge", "^unbound" ],
      "icon": "starforge",
      "sort": -10
    },
    {
      "patterns": [ "^knightfall", "^syndicate" ],
      "icon": "pat_iw/knightfall",
      "sort": -20
    },
    {
      "names": [ "lockjawcourse", "survivormission" ],
      "patterns": [ "^shellguard", "^sg" ],
      "icon": "shellguardbase",
      "sort": -30
    },
    {
      "names": [ "avikanoutpost" ],
      "icon": "avikanoutpost",
      "sort": -40
    },
    {
      "names": [ "allianceoutpost" ],
      "icon": "allianceoutpost",
      "sort": -40
    },
    {
      "names": [ "alliancefestivalhall" ],
      "icon": "alliancefestivalhall",
      "sort": -40
    },
    {
      "names": [ "centensworkshop" ],
      "icon": "centensworkshop",
      "sort": -40
    },
    {
      "names": [ "remnantcaves" ],
      "patterns": [ "avikan", "thea", "vanguard", "akkimari" ],
      "icon": "avikanoutpost2",
      "sort": -40,
      "priority": 1
    }
  ]
}
