{
	"icons": [
		{
			"names": [ "outpost", "museum" ],
			"icon": "outpost"
		},
		{
			"names": [ "lunarbase" ],
			"patterns": [ "mission" ],
			"icon": "teleporter",
			"priority": 0
		},
		{
			"names": [ "monolith" ],
			"icon": "ark"
		},
		{
			"names": [ "challengerooms" ],
			"patterns": [ "ancientvault" ],
			"icon": "ancientgateway"
		},
		{
			"names": [ "cyberspace" ],
			"patterns": [ "spacestation_peacekeeper", "bounty" ],
			"icon": "pat_iw/peacekeeper"
		},
		{
			"patterns": [ "ship" ],
			"icon": "ship"
		},
		{
			"names": [ "spaceencounter" ],
			"icon": "asteroids"
		},
		{
			"patterns": [ "station" ],
			"icon": "spacestation"
		},
		{
			"patterns": [ "techchallenge" ],
			"icon": "pat_iw/techchallenge"
		},
		{
			"patterns": [ "mechtest" ],
			"icon": "deploy"
		},
		{
			"patterns": [ "^arena." ],
			"icon": "pat_iw/nuru"
		},
		{
			"names": [ "protectorate" ],
			"icon": "pat_iw/protectorate"
		},
		{
			"names": [ "zcrab_mcdonalds" ],
			"icon": "zcrab_mcdonalds"
		},
		{
			"names": [ "thalassooutpost" ],
			"icon": "thalassooutpost"
		},
		{
			"patterns": [ "^starforge-.+", "unbound" ],
			"names": [ "cacochiuslab", "florantnest" ],
			"icon": "starforge",
			"priority": -1
		},
		{
			"patterns": [ "^knightfall_.+" ],
			"icon": "pat_iw/knightfall",
			"priority": -1
		},
		{
			"names": [ "lockjawcourse", "survivormission" ],
			"patterns": [ "^shellguard.+", "^sg.+" ],
			"icon": "shellguardbase",
			"priority": -1
		},
		{
			"names": [ "avikanoutpost" ],
			"icon": "avikanoutpost",
			"priority": -2
		},
		{
			"names": [ "allianceoutpost" ],
			"icon": "allianceoutpost",
			"priority": -2
		},
		{
			"names": [ "alliancefestivalhall" ],
			"icon": "alliancefestivalhall",
			"priority": -2
		},
		{
			"names": [ "centensworkshop" ],
			"icon": "centensworkshop",
			"priority": -2
		},
		{
			"names": [ "remnantcaves" ],
			"patterns": [ "avikan", "thea", "vanguard", "akkimari" ],
			"icon": "avikanoutpost2",
			"priority": -1
		}
	]
}