{
  "openWithInventory": true,
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/objectcrafting/campfire_header.png",
      "fileBody": "/interface/objectcrafting/campfire_body.png",
      "fileFooter": "/interface/objectcrafting/campfire_footer.png"
    },
    "title": {
      "type": "title",
      "title": "^orange;Pet Healing Station^white;",
      "icon": {
        "type": "image",
        "file": "/quickbar/pat/pethealing/icon.png"
      }
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [ 0, 0 ],
      "position": [ 123, 105 ]
    },
    "lblText": {
      "type": "label",
      "position": [ 70, 78 ],
      "hAnchor": "mid",
      "wrapWidth": 125,
      "value": "^#b9b5b2;Place Capture Pod in the left slot.      ^white;"
    },
    "scungus": {
      "type": "image",
      "position": [ 75, 78 ],
      "scale": 0.25,
      "data": {
        "duration": 5.0,
        "frames": 100,
        "file": "/quickbar/pat/pethealing/scungus.png"
      }
    },
    "arrow": {
      "type": "image",
      "position": [ 64, 57 ],
      "file": "/interface/objectcrafting/arrow.png"
    },
    "health": {
      "zLevel": 2,
      "type": "progress",
      "visible": false,
      "position": [ 43, 52 ],
      "background": "/interface/durability-bar.png:0",
      "size": [ 16, 4 ],
      "progressSet": {
        "inner": "/interface/durability-bar.png:1",
        "type": "repeat"
      },
      "mouseTransparent": true
    },
    "input": {
      "zLevel": 1,
      "type": "itemslot",
      "position": [ 42, 54 ],
      "backingImage": "/interface/inventory/empty.png",
      "callback": "slot",
      "rightClickCallback": "slot"
    },
    "output": {
      "zLevel": 1,
      "type": "itemslot",
      "position": [ 78, 54 ],
      "backingImage": "/interface/inventory/empty.png",
      "callback": "slot",
      "rightClickCallback": "slot"
    },
    "heal": {
      "type": "button",
      "position": [ 42, 36 ],
      "base": "/interface/objectcrafting/cook.png",
      "hover": "/interface/objectcrafting/cookover.png",
      "caption": "Heal",
      "callback": "toggleheal"
    }
  },

  "scripts": [ "/quickbar/pat/pethealing/pethealing.lua" ],
  "scriptDelta": 1,
  "scriptWidgetCallbacks": [ "slot", "toggleheal" ]
}
